################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpeechTest/.vs/SpeechTest/v16/Server/sqlite3
